:root {
    --red-color: #c21a1a;
    --green-color: #1bbd28;
    --blue-color: #1824c4;
    --black-color:#000000;
  }

$btn-primary-color: #007bff;
$btn-secondary-color: #6c757d;
$btn-success-color: #28a745;
$btn-danger-color: #dc3545;
$black:#000000,
